.container {
  max-width: 1080px;
  margin: 20px auto;
  padding: 25px;
}
.header_wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.header_wrap > div:first-child {
  width: 100%;
  max-width: calc((100% / 3) * 2);
}
.curr_weather_container,
.forecast_weather_container {
  width: 100%;
  max-width: 540px;
  border-radius: 5px;
  color: #48484a;
  background-color: #fff;
  margin: 20px auto 0 auto;
  min-height: 290px;
  position: relative;
  overflow: hidden;
}
.forecast_weather_container {
  background-color: transparent;
}

@media only screen and (max-width: 1005px) {
  .header_wrap {
    flex-direction: column;
  }
  .header_wrap > div:first-child {
    width: 100%;
    max-width: unset !important;
  }
}

/*
* ASYNC SEARCH BAR
*/
div.css-1hb7zxy-IndicatorsContainer > div.css-tlfecz-indicatorContainer,
div.css-1hb7zxy-IndicatorsContainer > div.css-1gtu0rj-indicatorContainer {
  background-color: #48484a;
  cursor: pointer;
  border-top-right-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
  transition: all 425ms ease-in-out;
}
div.css-1hb7zxy-IndicatorsContainer > div.css-tlfecz-indicatorContainer:hover {
  background-color: #48484add;
}
div.css-1hb7zxy-IndicatorsContainer > span {
  display: none !important;
}
div > div > div > div.css-1hb7zxy-IndicatorsContainer > div > svg {
  fill: #fff !important;
}
.css-1pahdxg-control {
  box-shadow: 0 0 0 1px #48484a !important;
  border-color: #48484a !important;
  border-radius: 10px !important;
  transition: all 425ms ease-in-out;
}
.css-1pahdxg-control:hover {
  border-color: #48484a !important;
}
.css-1s2u09g-control,
.css-b62m3t-container {
  transition: all 425ms ease-in-out;
  border-radius: 10px !important;
}
